.CollapsableApplet, .OverlayControls, .FeatureSelectionWidget, .BrushingWidget, .IlastikLauncherWidget{
    padding: 10px;
    border-radius: 3px;
    font-family: helvetica;
    border: solid 2px black;
    background-color: rgb(239 239 239);
    margin-bottom: 5px;
}

.OverlayControls{
    position: fixed;
    resize: both;
    overflow: scroll;
    filter: drop-shadow(10px 10px 4px rgba(0,0,0, 0.3));
}

.OverlayControls_header{
    margin-top: 0;
    padding: 0.3em;
}

.OverlayControls_drag_handle{
    color: rgba(0,0,0, 0.2);
    font-size: 1.0em;
}

.SessionCreatorWidget form, .SessionLoaderWidget form{
    padding-left: 2em;
}

.SessionCreatorWidget .status_messages{
    height: 6em;
    resize: both;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 10%);
    padding: 5px;
}

.SessionCreatorWidget .status_messages p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.FeatureSelectionWidget td, .FeatureSelectionWidget th, .FeatureSelectionWidget td{
    border: solid 1px grey;
    padding: 0.3em;
}

.BrushingWidget .brushStrokesContainer{
    background-color: rgba(0,0,0, 0.1);
}

.BrushingWidget .brushStrokesContainer td{
    padding: 0.4em;
    background-color: rgba(0,0,0, 0.1);
}

.itk_hidden_element{
    display: none;
}
